<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>BitcoinWeb主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@alphardex/aqua.css@1.5.0/dist/aqua.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/style2.css">

</head>

<body>
<h1 style="text-align: center;">BitcoinWeb系统</h1>
<div style="max-width: 400px;margin: 0 auto">
    <div class="dwo">
        <div class="container flex flex-wrap justify-between">

            <div class="dark-mode mx-8 my-4 bg-primary flex flex-col justify-between px-6 py-12 rounded overflow-hidden">
                <div>

                    <form method="post" action="/show_time" >
                        <div class="input-group">
                            <div class="btn">
                                <i class="icon fas fa-search"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="命令" name="command">
                        </div>
                    <ul class="menu mt-6">
                        <li class="menu-item active" ><i class="icon fas fa-star mr-5"></i><input type="text" class="form-control" placeholder="参数一" name="first_parameter"></li>
                        <li class="menu-item"><i class="icon fas fa-star mr-5"></i><input type="text" class="form-control" placeholder="参数二" name="second_parameter"></li>
                        <li class="menu-item"><i class="icon fas fa-compass mr-5"></i><input type="submit" value="提交" class="menu-item"></li>
                        <li class="divider"></li>
                        <li class="menu-item"><a href=""><i class="icon fas fa-bell mr-5"></i></a>幻灯片</li>
                    </ul>
                    </form>

                    <div class="input-group">


                    </div>

                </div>
            </div>

        </div>
    </div>
    <script src="./static/js/script.js"></script>
</body>
</html>









